body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
}

#fireworks-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#fireworks-btn:hover {
    background-color: #e73370;
}

#fireworks-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
